<section data-ng-controller="JournalController" data-ng-init="find()">
	<h1>Here's what you've done so far...</h1>

    <div class="search_box">
        <h4>Search your exercises:</h4>
        <div class="form-group">
            <input type="text" placeholder="Search..." ng-model="search.exercise">
        </div>
    </div>

		<table class="table table-striped">
             <tr>
                <th><a href="" ng-click="reverse = predicate == 'exercise' && !reverse; predicate = 'exercise'">Exercise<b class="caret"></b></a></th>
                <th>Reps</th>
                <th><a href="" ng-click="reverse = predicate == 'weight' && !reverse; predicate = 'weight'">Weight<b class="caret"></b></a></th>
            </tr>
            <tr ng-repeat="journal in journals | filter:search | orderBy:predicate:reverse">
                <td>{{journal.exercise}}</td>
                <td>{{journal.reps}}</td>
                <td>{{journal.weight}}</td>
                <td>{{journal.date}}</td>
                <td><a href="/#!/journals/{{journal._id}}/edit" class="btn btn-default edit">Edit</a></td>
                <td><a href="/#!/journals/{{journal._id}}/resume" class="btn btn-default">Resume</a></td>
            </tr>
        </table>
	<div data-ng-hide="!journals || journals.length">
		No exercises yet, why don't you <a href="/#!/journals/create">create one</a>?
	</div>

</section>