<section data-ng-controller="JournalController" data-ng-init="find()">
	<h1>Here is a list of the exercises you've done</h1>

    <div class="row">
        <p>Select an individual exercise to see a more detailed history and pick up where you left off, or:
            <a class="btn btn-success" href="/#!/journals/create">Create a new exercise</a>
        </p>

    <div class="search_box">
        <h4>Search your exercises:</h4>
        <div class="form-group">
            <input type="text" placeholder="Search..." ng-model="search.exercise">
        </div>
    </div>

		<table class="table table-striped">
             <tr>
                <th><a href="" ng-click="reverse = predicate == 'exercise' && !reverse; predicate = 'exercise'">Exercise<b class="caret"></b></a></th>
                <th>You last did this on:</th>
            </tr>
            <tr ng-repeat="journal in journals | filter:search | orderBy:predicate:reverse | unique:'exercise'">
                <td><a href="/#!/individual-exercise/{{journal.exercise_slug}}">{{journal.exercise}}</a></td>
                <td>{{journal.created | date:'EEEE MMMM d'}}</td>
                <!--<td><a href="/#!/journals/{{journal._id}}/resume" class="btn btn-default">Resume</a></td>-->
            </tr>
        </table>
	<div data-ng-hide="!journals || journals.length">
		No exercises yet, why don't you <a href="/#!/journals/create">create one</a>?
	</div>

</section>