<section data-ng-controller="JournalController" data-ng-init="findOne()">
	<div class="text-center">
		<h1>Way to go!</h1>
		<h3 data-ng-bind="journal.exercise"></h3>

		<h3>Reps: <span data-ng-bind="journal.reps"></span></h3>


		<h3>Weight: <span data-ng-bind="journal.weight"></span></h3>

		<div class="row">
			<a href="/#!/journals/{{journal._id}}/edit" class="btn btn-primary btn-sm">Edit</a>
			<a href="/#!/" data-ng-click="delete();" class="btn btn-danger btn-sm">Delete</a>
		</div>

		<small>
			<em>Posted on</em>
			<em data-ng-bind="journal.created | date:'mediumDate'"></em>
			<em>by</em>
			<em data-ng-bind="journal.creator.fullName"></em>
		</small>

		<div class="row">
			<a href="/#!/journals/{{journal._id}}/resume" class="btn btn-primary btn-lg">Do another <span data-ng-bind="journal.exercise"></span></a>
		</div>

		<div class="row">
			<a href="/#!/journals" class="btn btn-default btn-lg">View all exercises</a>
			<a href="/#!/journals/create" class="btn btn-default btn-lg">Create a new entry...</a>
		</div>
	</div>
</section>