<section>
	<div class="text-center">
		<h1>Way to go!</h1>
		<a href="/#!/individual-exercise/{{vm.journal.exercise_slug}}"><h3 ng-bind="vm.journal.exercise"></h3></a>

		<h3>Sets: <span ng-bind="vm.journal.sets"></span></h3>

		<h3>Reps: <span ng-bind="vm.journal.reps"></span></h3>


		<h3>Weight: <span ng-bind="vm.journal.weight"></span></h3>


		<div class="row">
			<a href="/#!/journals/{{vm.journal._id}}/resume" class="btn btn-primary btn-action">Do another one</a>
		</div>

		<div class="row">
			<a href="/#!/journals/{{vm.journal._id}}/edit" class="btn btn-default btn-action">Edit</a>
		</div>

		<div class="row">
			<a href="/#!/" data-ng-click="vm.delete();" class="btn btn-danger btn-action">Delete</a>
		</div>

		<div class="row">
			<a href="/#!/journals" class="btn btn-default btn-action">View all Exercises</a>
		</div>

	</div>
</section>