<section ng-controller="ExampleController">
	<!-- If the user is not authenticated show the authentication link -->
	<div data-ng-show="!authentication.user">

		<div class="jumbotron">
      		<div class="container">
       			<h1>Track your progess, meet your goals.</h1>
        		
        		<p>MEAN Fitness takes the hassle out of tracking your progress at the gym. This simple app lets you track your specific exercises,
        			weights, and reps, and effortlessly enter them from your phone.  Leave the pen and paper at home - sign up or sign in to get started.</p>
        		
        		<p>
        			<a class="btn btn-default btn-lg" href="/signup" role="button">Signup »</a>
        			<a class="btn btn-default btn-lg" href="/signin" role="button">Signin »</a>
              <a class="btn btn-primary btn-lg" href ="/oauth/facebook" role="button">Sign in with Facebook</a>
        			<a class="btn btn-danger btn-lg" href ="/oauth/google" role="button">Sign in with Google+</a>
        		</p>

      		</div>
    	</div>
	</div>
	<!-- Otherwise, show the user details and application links -->
	<div data-ng-show="authentication.user">
		<div class="jumbotron">
      		<div class="container">
       			<h1>Hey <span data-ng-bind="authentication.user.firstName"></span>!</h1>
        		
        		<p>Your goals are eagerly awaiting you. Get started by <a href="/#!/journals">viewing all your exercises</a> or <a href="/#!/journals/create">creating a new entry</a>.</p>

            <a class="btn btn-default" href="/signout">Signout</a>
        		
      		</div>
    	</div>
	</div>
</section>