<div class="container">
	<div class="col-md-8">
		<p>Shirt, shorts, gym shoes, lock, snack... Notebook and pen.  Somehow that last bit always got left behind.  I was going to the gym regularly, and <em>trying</em> to keep track of what I was actually doing from week to week, but even if that notebook made it's way into my bag, paging through it to find something in a sea of scattered chicken scratch was torture.  So, I made an app that I could use on my phone.  No more pen and paper...

		<h2>About MEAN Fitness</h2>

		<p>MEAN Fitness is an app for anyone trying to keep track of their lifting at the gym.
			It provides an easy to use interface optimized for smartphones, allowing users to track
			exercises in real time with ease.</p>

		<h2>Pick up where you left off...</h2>

		<p>A core feature of MEAN fitness is the ability to "resume" exercises after creating them.  MEAN fitness will autofill your data from a previous lift when you are ready to log a new lift, and provides a convenient way to increment the weight on your next set with a single click.

		<h2>Save the date</h2>
		<p>Track the date of each and every set, and easily get back to what you've been neglecting...

		<h2>Getting Started</h2>
		<p>Log-in or create an account, and start inputting your workout as you go.  After completing a set of a particular exercise, you will be shown a summary and an option to "do another", edit, delete, or view all your exercises.  Doing another will retain the data from what you just did, allowing you to increase the weight without having to fill out the entire form again.</p>

		<p>Once you've been in the swing of it for a few weeks, you are bound to have dozens of exercises in the books.  Use the search filter to find what you need, see some of your previous sets, and pick up where you left off!</p>

		<h2>About the developer</h2>

		<p>Mike DeWitt is a developer currently living in Boston, MA.  When not at the gym or behind a computer, you'll probaby find Mike asleep.</p> 
	</div>
</div>