<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/dist/style.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<script type="text/javascript">
			window.user = <%- user || 'null' %>;
		</script>
	</head>

	<body ng-app="mean">

            <nav class="navbar navbar-inverse">
            	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

                <div class="navbar-header">
                    <a class="navbar-brand" href="/">MEAN fitness</a>
                </div>

				<div class="collapse navbar-collapse"> 
	                <ul class="nav navbar-nav navbar-left">
	                	
	                	<% if( user ) { %>
	                	<li><a class="nav-item" href="/#!/exercises">View all exercises</a></li>
	                	<li><a class="nav-item" href="#!/exercises/create">Create a new exercise</a></li>
	                	<% } %>

	                	<li><a class="nav-item" href="/#!/about-mean-fit">About</a></li>

	                	<% if( user ) { %>
	                	<li><a class="nav-item" href="/signout">Signout</a></li>
	                	<% } %>

	                </ul>
	            </div>
            </nav>

	

			<section class="container" ng-view></section>


		<script type="text/javascript" src="/dist/bundle.js"></script>
	</body>
</html>