<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>

	<body>

		<% if(userFullName) { %>
			<h2>Hello <%= userFullName %> </h2>
			<a href="/signout">Sign out</a>
		<% } else { %>
			
			<a href="/signup">Sign Up</a>
			<a href="/signin">Sign In</a>
			<a href ="/oauth/google" >Sign in with Google</a>

		<% } %>

		<section ng-view></section>

		<script type="text/javascript" src="/lib/angular/angular.js"></script>
		<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="/js/journal/journal.client.module.js"></script>
		<script type="text/javascript" src="/js/journal/controllers/journal.client.controller.js"></script>
		<script type="text/javascript" src="js/journal/config/journal.client.routes.js"></script>
		<script type="text/javascript" src="/js/application.js"></script>
	</body>
</html>