<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>

	<body>

            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">MEAN fitness</a>
                    <a class="navbar-brand" href="/#!/help">Help</a>
                </div>
                <ul class="nav navbar-nav">
                	
                </ul>
            </nav>

	

			<section class="container" ng-view></section>



		<script type="text/javascript">
			window.user = <%- user || 'null' %>;
		</script>

		<!--Load angular libs-->
		<script type="text/javascript" src="/lib/angular/angular.js"></script>
		<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
		<script type="text/javascript" src="/lib/angular-ui/build/angular-ui.min.js"></script>

		<!--Load Journal Module-->
		<script type="text/javascript" src="/js/journal/journal.client.module.js"></script>
		<script type="text/javascript" src="/js/journal/controllers/journal.client.controller.js"></script>
		<script type="text/javascript" src="/js/journal/services/journal.client.service.js"></script>
		<script type="text/javascript" src="/js/journal/config/journal.client.routes.js"></script>

		<!--Load home module-->
		<script type="text/javascript" src="/js/home/home.client.module.js"></script><script type="text/javascript" src="/js/home/controllers/home.client.controller.js"></script>
		<script type="text/javascript" src="/js/home/config/home.client.routes.js"></script>


		<!--Load users module-->
		<script type="text/javascript" src="/js/users/users.client.module.js"></script>
		<script type="text/javascript" src="/js/users/services/authentication.client.service.js"></script>

		<!--Load help module-->
		<script type="text/javascript" src="/js/help/help.client.module.js"></script>
		<script type="text/javascript" src="/js/help/config/help.client.routes.js"></script>
		
		<script type="text/javascript" src="/js/application.js"></script>
	</body>
</html>